<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="ConfigFactoryTypes" type="Storage.Engine.ConfigSection, Storage.Engine" />
    <section name="StorageInitConfiguration" type="Storage.Engine.ConfigSection, Storage.Engine" />
  </configSections>

  <StorageInitConfiguration CurrentStorage="dns_name">

    <BlobContainers>
      <BlobContainer Name="def0" FolderUrl="/Default" Path="d:\skychain\storage\containers\default0"/>
    </BlobContainers>

  </StorageInitConfiguration>



  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>

  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <!-- HTTPS
        <binding name="buffered" transferMode="Buffered"
            closeTimeout="00:10:00" openTimeout="00:10:00" sendTimeout="00:10:00"
            maxBufferPoolSize="2147483647"
            maxBufferSize="2147483647"
            maxReceivedMessageSize="2147483647">
          <security mode="Transport">
            <transport clientCredentialType="Windows" realm="" />
          </security>
        </binding>

        <binding name="streamed" transferMode="Streamed"
            closeTimeout="00:10:00" openTimeout="00:10:00" sendTimeout="00:10:00"
            maxBufferPoolSize="1048576"
            maxBufferSize="1048576"
            maxReceivedMessageSize="9223372036854775807">
          <security mode="Transport">
            <transport clientCredentialType="None" realm="" />
          </security>
        </binding>
        -->

        <!-- HTTP -->
        <binding name="buffered" transferMode="Buffered"
            closeTimeout="00:10:00" openTimeout="00:10:00" sendTimeout="00:10:00"
            maxBufferPoolSize="104857600"
            maxBufferSize="104857600"
            maxReceivedMessageSize="104857600">

          <security mode="TransportCredentialOnly">
            <transport clientCredentialType="Ntlm" realm="" />
          </security>
        </binding>

        <binding name="streamed" transferMode="Streamed"
            closeTimeout="00:10:00" openTimeout="00:10:00" sendTimeout="00:10:00"
            maxBufferPoolSize="1048576"
            maxBufferSize="1048576"
            maxReceivedMessageSize="9223372036854775807" >
        </binding>

      </basicHttpBinding>
    </bindings>

    <services>
      <service name="Storage.Service.Wcf.StorageService" behaviorConfiguration="StorageServiceBehavior">
        <clear/>

        <endpoint  address="" binding="basicHttpBinding" bindingConfiguration="buffered" contract="Storage.Service.Wcf.IStorageService" />
        <endpoint  address="streamed" binding="basicHttpBinding" bindingConfiguration="streamed" contract="Storage.Service.Wcf.IStorageServiceStreamed" />

        <host>
          <baseAddresses>
            <!-- HTTPS
              <add baseAddress="https://127.0.0.1:7000" />
            -->
            <add baseAddress="http://127.0.0.1:7000" />
          </baseAddresses>
        </host>
      </service>

      <service behaviorConfiguration="StorageServiceBehavior" name="Storage.Service.Wcf.StorageReplicationService">

        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="streamed" contract="Storage.Service.Wcf.IStorageReplicationService"/>

        <host>
          <baseAddresses>
            <add baseAddress="http://127.0.0.1:7070"/>
          </baseAddresses>
        </host>
      </service>
    </services>

    <behaviors>
      <serviceBehaviors>
        <behavior name="StorageServiceBehavior">
          <!-- HTTPS
          <serviceMetadata httpsGetEnabled="true" />
          -->
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="True" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>

  <ConfigFactoryTypes>
    <Type
      Interface="Storage.Engine.IMetadataAdapter"
      ImplementationAssembly="Storage.Metadata.MSSQL"
      ImplementationClass="Storage.Metadata.MSSQL.MetadataAdapter"
      >
      <Settings>
        <ConnectionString>Data Source=SERVER;Initial Catalog=Skychain_test;integrated security=True;MultipleActiveResultSets=True</ConnectionString>
      </Settings>
    </Type>

    <Type
     Interface="Storage.Engine.IDataAdapter"
     ImplementationAssembly="Storage.Data.Blob"
     ImplementationClass="Storage.Data.Blob.BlobDataAdapter"
      >
      <Settings>
        <MaxBlobSize>107374182400</MaxBlobSize>
        <ActiveBlobsCount>20</ActiveBlobsCount>
        <AllowedStreamingLocksLimit>50</AllowedStreamingLocksLimit>
      </Settings>
    </Type>

    <Type
      Interface="Storage.Data.Blob.IBlobMetadataAdapter"
      ImplementationAssembly="Storage.Metadata.Blob.MSSQL"
      ImplementationClass="Storage.Metadata.Blob.MSSQL.BlobMetadataAdapter"
      >
    </Type>

    <Type
          Interface="Storage.Engine.IFileTokenAdapter"
          ImplementationAssembly="Storage.Metadata.Blob.MSSQL"
          ImplementationClass="Storage.Metadata.Blob.MSSQL.FileTokenAdapter"
      >
    </Type>

    <Type
          Interface="Storage.Engine.ISessionResolver"
          ImplementationAssembly="Storage.Engine"
          ImplementationClass="Storage.Engine.SessionLinkResolver"
      >
    </Type>

    <Type
              Interface="Storage.Engine.ILogProvider"
              ImplementationAssembly="Storage.Engine"
              ImplementationClass="Storage.Engine.EventViewerLogger"
      />

    <Type
              Interface="Storage.Engine.ISecurityAdapter"
              ImplementationAssembly="Storage.Security.AD"
              ImplementationClass="Storage.Security.AD.SecurityAdapter"
      >
    </Type>

  </ConfigFactoryTypes>

  <system.web>
    <httpRuntime maxRequestLength="2147483647" executionTimeout="14400" />
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>

  <appSettings>
    <add key="ContentDeliveryHost" value="http://site:7001/" />
    <add key="WcfCalls_PermissionGroup" value="GroupName" />

    <add key="ContentDeliveryManager_PermissionGroup" value="GroupName" />
    <add key="ContentDeliveryManager_ConnectionsLimit" value="100" />

    <add key="AllowMetadataRestoring" value="true" />
    <add key="MaxBufferRequestSize" value="104857600" />
  </appSettings>

</configuration>